@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    box-shadow: rgb(0 0 0 / 27%) 0px 0px 8px 0px;
    max-width: 100vw;
    height: 72px;
    top: 0px;
    position: sticky;
    z-index: 120;
    transition: top 0.5s ease 0s;
    background-color: rgb(126 126 126 / 11%);
    align-items: center;
}

.login_btn {
    font-size: 18px !important;
    font-weight: 600;
    background: #39e73a;
    border: #139f14;
    color: #000000;
}

.menu_link {
    font-size: 18px;
    font-weight: 600;
    color: #454a4d;
}

.menu_link:hover {
    color: #000000;
}

.color_block {
    width: 100%;
    height: 215px;
    background-color: #5bd85c;
}

.background-image {
    width: 100%;
}

.left_right {
    width: 15%;
}

.carousel_wrapper {
    width: 70%;
}

.carousel-item {
    width: 100%;
    height: 625px;
}

.tittle_wrapper h2 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 80px;
}

.tittle_wrapper {
    position: absolute;
    width: 110%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #292d30;
    left: 60px;
    padding-left: 35px;
    top: 0;
    justify-content: flex-end;
}

.tittle_content {
    width: 35%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

a.signUp_btn.btn {
    width: 235px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    color: #5bd85c;
    background: #454a4d;
    margin-bottom: 100px;
}